@import "../node_modules/tinper-bee-core/scss/index.scss";
@import "../node_modules/bee-layout/src/Layout.scss";
@import "../node_modules/bee-panel/src/Panel.scss";
@import "../node_modules/bee-button/src/button.scss";
@import "../static/demo/atom-one-dark.css";

.demoPadding{
    button{
        margin: auto 5px;
    }
    .divider{
        margin: 6px 0;
        height: 1px;
        overflow: hidden;
        background-color: #e0e0e0;
    }
    .btn{
        background: rgb(224,224,224);
        border: none;
        border-radius: 4px;
        color: rgb(0,0,0);
        position: relative;
        min-width: 72px;
        padding: 5px 13px;
        display: inline-block;
        font-family: "Open Sans", "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0;
        overflow: hidden;
        will-change: box-shadow, transform;
        outline: none;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        line-height: 1.57143;
        vertical-align: middle;
    }
    .btn2{
        margin-left: 20px;
    }
}
.submiting{
    width: 230px;
    height: 107px;
    padding-top: 26px !important;
}
.submit-success{
    width: 230px;
    height: 107px;
    background-color:#91C08F !important;
    padding-top: 26px !important;
}